# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
claper-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

/priv/static/uploads

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# Env files except sample
.env*
!.env.sample

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

priv/static/images/.DS_Store
priv/static/.DS_Store
priv/static/fonts/.DS_Store
test/e2e/node_modules
.DS_Store
priv/static/.well-known/apple-developer-merchantid-domain-association
priv/static/loaderio-eb3b956a176cdd4f54eb8570ce8bbb06.txt
.elixir_ls

tailwind.config.js
