<div class="py-1" role="none">
  <a href={~p"/users/settings"} class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900">
    <%= gettext("Settings") %>
  </a>
</div>
<div class="py-1" role="none">
  <%= link(gettext("Logout"),
    to: ~p"/users/log_out",
    method: :delete,
    class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
  ) %>
</div>
