<div class="fixed max-w-xl w-full bottom-5 left-1/2 tranform -translate-x-1/2 z-10">
  <%= if live_flash(@flash, :info) do %>
    <ClaperWeb.Component.Alert.info message={live_flash(@flash, :info)} />
  <% end %>

  <%= if live_flash(@flash, :error) do %>
    <ClaperWeb.Component.Alert.error message={live_flash(@flash, :error)} />
  <% end %>
</div>

<%= @inner_content %>
