<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <.live_title suffix=" · Claper" )><%= assigns[:page_title] || "Claper" %></.live_title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <script defer phx-track-static type="text/javascript" src="/assets/vue.js">
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
